<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <style>
        /* Sticky footer styles
        -------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            line-height: 60px; /* Vertically center the text there */
            background-color: #f5f5f5;
        }

        /* Custom page CSS
        -------------------------------------------------- */
        /* Not required for template or sticky footer method. */

        body > .container {
            padding: 60px 15px 0;
        }

        .footer > .container {
            padding-right: 15px;
            padding-left: 15px;
        }

        code {
            font-size: 80%;
        }

        .hidden {
            display: none;
        }

        #username > img {
            border-radius: 50%;
        }


    </style>
    <title>{{.PageTitle}} - GoSyncMyCalendars</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">GoSyncMyCalendars</a>
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav">
                <li class="nav-item auth hidden">
                    <a class="nav-link" href="/accounts">Accounts</a>
                </li>
                <li class="nav-item auth hidden">
                    <a class="nav-link" href="/calendars">Calendars Relation</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li id="google-button" class="nav-item public hidden">
                    <div id="my-signin2"></div>
                </li>
                <li id="dropdown-account" class="dropdown nav-item auth hidden">
                    <a id="username" href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    </a>
                    <ul class="dropdown-menu float-right">
                        <li class="dropdown-item"><a href="/me">Account</a></li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item"><a href="#" onclick="signOut();">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main role="main" class="container">
    <div id="account-error" class="alert alert-danger hidden" role="alert">
        An error has occured retrieving your account info. SignIn again, please.
    </div>
{{template "content" . }}
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">This is an educational project. Keep in mind some errors might occur.</span>
        <span class="text-muted float-right">Source Code on <a href="https://github.com/TetAlius/GoSyncMyCalendars">GitHub</a></span>
    </div>
</footer>
<script>
    var auth2; // The Sign-In object.
    var googleUser; // The current user.
    function onSignIn(googleUser) {
        //TODO: send request to register new user
        var xhr = new XMLHttpRequest();
        var id_token = googleUser.getAuthResponse().id_token;
        xhr.open('POST', 'http://localhost:8080/user?idtoken=' + id_token);
        xhr.onreadystatechange = function () {//Call a function when the state changes.
            if (xhr.readyState == XMLHttpRequest.DONE && xhr.status != 202) {
                $("#account-error").removeClass("hidden");
                auth2.signOut();
            } else if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 202) {
                $("#account-error").addClass("hidden");
            }
        };
        xhr.send("idtoken=" + id_token);
        // console.log("ID Token: " + id_token);
        // var profile = googleUser.getBasicProfile();
        // console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        // console.log('Name: ' + profile.getName());
        // console.log('Image URL: ' + profile.getImageUrl());
        // console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }

    function onFailure(error) {
        console.log(error);
        $("#account-error").removeClass("hidden");
        auth2.signOut();
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            //Remove cookie
            //No longer needed as this is a session cookie
            // document.cookie = "session=; expires=Thu, 01 Jan 1970 00:00:00 UTC;";
            //TODO: Remove scopes...
            auth2.disconnect();
        });

    }

    var appStart = function () {
        gapi.load('auth2', initSigninV2);
        gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'longtitle': true,
            'theme': 'light',
            'onsuccess': onSignIn,
            'onfailure': onFailure
        });
    };

    var initSigninV2 = function () {
        gapi.auth2.init({
            client_id: '760248995468-jtpc1e212a02h47b6ml9vmejqrkeh3vf.apps.googleusercontent.com',
            scope: 'profile email'
        }).then(function () {
            // Listen for sign-in state changes.
            gapi.auth2.getAuthInstance().isSignedIn.listen(signinChanged);
            // Handle the initial sign-in state.
            signinChanged(gapi.auth2.getAuthInstance().isSignedIn.get());
        });
        // Listen for changes to current user.
        auth2 = gapi.auth2.getAuthInstance()
        gapi.auth2.getAuthInstance().currentUser.listen(userChanged);
        // Start with the current live values.
        refreshValues();
    };

    /**
     * Listener method for sign-out live value.
     *
     * @param {boolean} val the updated signed out state.
     */
    var signinChanged = function (val) {
        // Sign in the user if they are currently signed in.
        if (val) {
            console.log('public hidden');
            $('.auth').removeClass("hidden");
            $('.public').addClass("hidden");
        } else {
            console.log('auth hidden');
            $('.auth').addClass("hidden");
            $('.public').removeClass("hidden");
            if (window.location.pathname !== '/') {
                window.location.pathname = '/';
            }
        }
    };

    /**
     * Listener method for when the user changes.
     *
     * @param {GoogleUser} user the updated user.
     */
    var userChanged = function (user) {
        googleUser = user;
        updateGoogleUser();
    };

    /**
     * Updates the properties in the Google User table using the current user.
     */
    var updateGoogleUser = function () {
        var $username = $('#username');
        if (googleUser && googleUser.getBasicProfile()) {
            $username.html(googleUser.getBasicProfile().getName());
        } else {
            $username.html('');
        }
    };

    /**
     * Retrieves the current user and signed in states from the GoogleAuth
     * object.
     */
    var refreshValues = function () {
        if (auth2) {
            googleUser = auth2.currentUser.get();
            updateGoogleUser();
        }
    }
</script>
<script src="https://apis.google.com/js/platform.js?onload=appStart" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script>
    $('[data-toggle="tooltip"]').tooltip()
</script>
{{template "javascript" . }}
</body>
</html>