{{define "content"}}
{{$lenAccounts:= len .User.Accounts}}
<h1 style="display: inline-block">List of all calendars</h1> <a class="btn btn-dark" href="/accounts"><span data-toggle="tooltip" data-placement="top" title="You currently have {{$lenAccounts}} accounts">Add more Accounts</span> <span class="badge badge-light">+</span></a>
<p>Every calendar that is added to sync inside the primary account will generate a new calendar in the other accounts if no calendar is given to sync.</p>
<p>All calendars will have the same name as the one inside principal.</p>
{{if not .User.Accounts }}
<p>You have no calendars right now. Try adding some accounts to sync:</p>
<br/>
{{else}}
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th colspan={{inc $lenAccounts}}> {{ .Account.Mail }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{range .Account.GetSyncCalendars}}
        {{$calendarName := .GetName}}
        <tr>
            <td rowspan="2">
            {{$calendarName}} ({{.GetAccount.Mail}})
            <th colspan={{$lenAccounts}}>Linked:
                {{ if lt (len .GetCalendars) (dec $lenAccounts) }}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{.GetUUID}}">
                        <span data-toggle="tooltip" data-placement="top" title="Link more calendars to {{$calendarName}}">Link Calendars</span>
                    </button>
                {{end}}
            </th>
            <td rowspan="2">
                <input type="submit" class="btn btn-success" value="Start synchronization" data-toggle="tooltip" data-placement="top" title="Start Synchronizing {{$calendarName}}" onclick="start({{.GetUUID}});"/>
            </td>

        <tr>
        {{range .GetCalendars}}
            <td id="td-{{.GetUUID}}">
            <div>{{.GetName}}
                <input type="submit" class="btn btn-warning" value="Unlink relation" data-toggle="tooltip" data-placement="top" title="Unlink {{.GetName}} from {{$calendarName}}" onclick="deleteRelationCalendar({{.GetUUID}});"/>
            </div>
            </td>
        {{end}}
        </tr>
        <!-- Modal -->
        <div class="modal fade" id="{{.GetUUID}}" tabindex="-1" role="dialog" aria-labelledby="modal-{{.GetUUID}}-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-{{.GetUUID}}-label">Add calendars to sync</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/calendars/{{.GetUUID}}" method="post">
                    {{range $.User.Accounts}}
                    {{if not .Principal}}
                        <div class="form-group">
                            <label for="calendars">{{.Mail}}</label>
                            <select class="form-control" name="calendars" id="calendars">
                                <option>Select</option>
                            {{range .GetSyncCalendars}}
                                <option value={{.GetUUID}}>{{.GetName}}</option>
                            {{end}}
                            </select>
                        </div>
                    {{end}}
                    {{end}}

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {{end}}
    </tbody>
</table>
{{end}}
{{end}}
{{define "javascript"}}
<script>
    function deleteRelationCalendar(id){
        $('[data-toggle="tooltip"]').tooltip('hide');
        console.log(id);
        $.ajax({
            type: "PATCH",
            url: "/calendars/"+id,
            data:{
                parent: null
            },
            success: function(msg){
                $("#td-"+id).remove();
            }
        });
    }

    function start(uuid){
        console.log("start "+uuid);
    }
</script>
{{end}}