{{define "content"}}
    <h1>Synced Calendars</h1>
    {{if not .Account.GetSyncCalendars }}
        <p>You have no calendars right now. Try adding calendars:</p>
    {{else}}
        {{range .Account.GetSyncCalendars}}
                <div id="div-{{.GetUUID}}">
                <input type="submit" value="Remove from sync" class="btn btn-danger" onclick="deleteCalendar({{.GetUUID}});"/>
                <p style="display: inline-block" id={{.GetUUID}} >{{.GetName}}</p>
                </div>
        {{end}}
    {{end}}
        <form action="/accounts/{{.Account.GetInternalID}}" method="post">
            <div class="form-group">
                <p>These are all the calendars that are available to sync.</p>
                <p>Select all that you want to start syncing</p>
                <p>Calendars that are already syncing will be ignored</p>
                <p>If you want to remove them, click on the "Remove from sync" button, please</p>
                <label for="calendars">Calendars</label>
                <select multiple class="form-control" name="calendars" id="calendars">

        {{range .Calendars}}
                <option value={{.GetID}}>{{.GetName}}</option>
        {{end}}

                </select>
            </div>
            <input type="submit" value="Send"/>
        </form>
{{end}}
{{define "javascript"}}
    <script>
        function deleteCalendar(id){
            console.log(id);
            $.ajax({
                type: "DELETE",
                url: "/calendars/"+id,
                success: function(msg){
                    $("#div-"+id).remove();
                }
            });
        }
    </script>
{{end}}